# devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# claude
**/.claude/settings.local.json
.claude/settings.json
.claude/agents
.claude/commands
.mcp.json
.devcontainer.json

# opencode
opencode.jsonc
.opencode/commands
